body {
  background-color: #1F2937;
  font-family: 'Inter', sans-serif;
}

.app {
  max-width: 450px;
  margin-inline: auto;
}

.title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 800;
  font-family: 'Karla', sans-serif;
  margin-bottom: 10px;
}

.subtitle {
  color: #D5D4D8;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 50px;
}

.text-green {
  color: #4ADF86;
}

.button {
  background-color: #10B981;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  margin-bottom: 35px;
}

.password-wrapper {
  display: flex;
  gap: 24px;
  border-top: 1px solid #2F3E53;
  padding-top: 35px;
}

.password {
  color: #55F991;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 40px;
  background-color: #2F3E53;
  border-radius: 6px;
}